<div class="row">
    <div class="table-responsive-sm col-sm-12">
        <div class="form-group">
            <div class="row">
                <div class="col-4">
                    <h2>Jobs Today</h2>
                </div>
                <div class="col-8 text-right">

                    <form action="/admin/reports/filter" class="form-inline" method="POST">
                        <label class="mr-sm-2" for="selDate">Date</label>
                        <select name="dateFilter" id="dateFilter" class="form-control mr-sm-2">
                            {{#select mydate}} {{#each jobdates}}
                            <option value="{{this}}">{{this}}</option>
                            {{/each}} {{/select}}
                        </select>
                        <input type='submit' value='Filter' class="btn btn-info btn-sm mr-sm-2">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="table-responsive-sm col-sm-12  pr-5 pl-5">
        <div class="form-group">
            <div class="row">
                <table class="table-sm table-responsive table-bordered">
                    <thead>
                        <tr>
                            <th>Location</th>
                            <th>Plan</th>
                            <th>Tasks</th>
                            <th>Resource</th>
                            <th>Status</th>
                            <th>Comments</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each jobs}}
                        <tr>
                            <td>{{plan.location.name}}</td>
                            <td tabindex="{{_id}}" data-toggle="popover" data-trigger="focus" title="Plan Information" data-content="Addresses: {{plan.instruction}}">{{plan.lno}}</td>
                            <td>{{task.description}}</td>
                            <td>{{user.firstname}}</td>
                            <td>{{status}}</td>
                            <td>{{comments}}</td>
                            {{!--
                            <td>{{formatDate date 'DD/MM/YYYY'}}</td> --}}
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>