<h1>Create Job</h1>
{{#each errors}}
<div class="alert alert-danger">
    {{message}}
</div>
{{/each}}

<form action="/admin/jobs/create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <div class="form-row">
            <div class="col-md-6">
                <label for="inputPlan">Plan</label>
                <select name="plan" id="plan" class="form-control">

                    {{#each plans}}
                    <option value="{{id}}">{{lno}}</option>
                    {{/each}}

                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-row">
            <div class="col-md-6">
                <label for="inputTask">Task</label>
                <select name="task" id="task" class="form-control">

                    {{#each tasks}}
                    <option value="{{id}}">{{description}}</option>
                    {{/each}}

                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-row">
            <div class="col-md-6">
                <label for="inputUser">Assigned To</label>
                <select name="user" id="user" class="form-control">

                    {{#each users}}
                    <option value="{{id}}">{{firstname}}</option>
                    {{/each}}

                </select>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="form-row">
            <div class="col-md-6">
                <label for="inputStatus">Status</label>
                <select name="status" id="status" class="form-control">
                    <option value="incomplete">Incomplete</option>
                    <option value="completed">Completed</option>
                </select>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="form-row">
            <div class="col-md-6">
                <label for="comments">Comments</label>
                <textarea name="comments" cols="30" rows="10" type="text" class="form-control" id="comments" placeholder="Enter comments"></textarea>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-check">
            <label for="allowComments" class="form-check-label">
                <input name="allowNotify" type="checkbox" class="form-check-input" id="allowNotify"> Send Notification
            </label>
        </div>
    </div>
    <div class="form-group">
        <div class="form-row">
            <div class="col-md-6">
                <label for="file">Duct end Image</label>
                <input type="file" name="file" accept="image/*" id="file" class="form-control">
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-sm">Save</button>
    <a href="/admin/jobs" class="btn btn-secondary btn-sm">Cancel</a>
</form>