<div class="row">
    <div class="table-responsive-sm col-sm-8">
        <h2>Job List</h2>
        <div style="margin-bottom: 15px;">
            <a href="/admin/jobs/create" class="btn btn-success btn-sm">Create</a>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Location</th>
                    <th>Plan</th>
                    <th>Tasks</th>
                    <th>Assigned To</th>
                    <th>Status</th>
                    <th>Comments</th>
                    <th>Date</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each jobs}}
                <tr>
                    <td>{{plan.location.name}}</td>
                    <td>{{plan.lno}}</td>
                    <td>{{task.description}}</td>
                    <td>{{user.firstname}}</td>
                    <td>{{status}}</td>
                    <td>{{comments}}</td>
                    <td>{{formatDate date 'DD/MM/YYYY'}}</td>
                    <td>
                        <a href="/admin/jobs/edit/{{id}}" class="btn btn-info btn-sm">Edit</a>
                    </td>
                    <td>
                        <form action="/admin/jobs/{{id}}?_method=DELETE" method="post">
                            <button class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>