<div class="row">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h2>Reinstatement List</h2>
            </div>
            <div class="col-sm">
                <div class="form-group">
                    <a href="/admin/reinstatement/create" class="btn btn-success btn-sm">Create</a>
                </div>
                <div class="form-group">

                    {{!--
                    <div class="col-8 text-right">
                        <form action="/admin/reports/filter" class="form-inline" method="POST">
                            <label class="mr-sm-2" for="selDate">Date</label>
                            <select name="dateFilter" id="dateFilter" class="form-control mr-sm-2">
                                {{#select mydate}}
                                <option value="--all--">--all--</option>
                                {{#each jobdates}}
                                <option value="{{formatDate date 'DD/MM/YYYY'}}">{{formatDate date 'DD/MM/YY'}}</option>
                                {{/each}} {{/select}}
                            </select>
                            <input type='submit' value='Filter' class="btn btn-info btn-sm mr-sm-2">
                        </form>
                    </div> --}}
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm">
                <table class="table-sm table-responsive table-hover">
                    <thead>
                        <tr>
                            <th>Cabinet</th>
                            <th>Address</th>
                            <th>Area</th>
                            <th>Date</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each jobs}}
                        <tr>
                            <td>{{cabinet.name}}</td>
                            <td>{{streetno}} {{streetname}}</td>
                            <td>L:{{length}} W:{{width}}</td>
                            <td>{{formatDate date 'DD/MM/YYYY h:mm a' }}</td>
                            <td>
                                {{#if file}}
                                <a href='/api/images/{{imageId}}' target="_blank">
                                    <img height="50px" src='/api/images/{{imageId}}' />
                                </a>{{/if}}
                            </td>
                            <td>
                                <a href="/admin/jobs/edit/{{id}} " class="btn btn-info btn-sm ">Edit</a>
                            </td>
                            <td>
                                <form action="/admin/jobs/{{id}}?_method=DELETE" method="post">
                                    <button class="btn btn-danger btn-sm">Delete</button>
                                </form>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>