<div class="card card-register mx-auto mt-5">
    <div class="card-header">Create Plan</div>
    <div class="card-body">
        <form action="/admin/cpas/create" method="post">
            <div class="form-group">
                <label for="InputLocation">Location</label>
                <input value="{{location}}" required name="location" class="form-control" id="location" type="text" aria-describedby="locationHelp"
                    placeholder="Enter Location.">
            </div>
            <div class="form-group">
                <label for="InputABFFP">ABFFP ID</label>
                <input value="{{abffpid}}" required name="abffpid" class="form-control" id="abffpid" type="text" aria-describedby="abffpIdHelp"
                    placeholder="Enter ABFFP ID">
            </div>
            <div class="form-group">
                <label for="InputMDuct1">MDuct Tube</label>
                <input value="{{mduct1}}" required name="mduct1" class="form-control" id="mduct1" type="text" aria-describedby="mduct1Help"
                    placeholder="Enter ABFFP ID">
            </div>
            <div class="form-group">
                <label for="InputMDuct2">MDuct Group</label>
                <input value="{{mduct2}}" name="mduct2" class="form-control" id="mduct2" type="text" aria-describedby="mduct2Help" placeholder="Enter MDuct Group">
            </div>
            <div class="form-group">
                <label for="Way26">26 Way Tube</label>
                <input value="{{way26tube}}" name="way26tube" class="form-control" id="way26tube" type="text" aria-describedby="way26tubeHelp"
                    placeholder="Enter 26 way tube.">
            </div>
            <div class="form-group">
                <label for="Way10">10+1 Way Tube</label>
                <input value="{{way10tube}}" name="way10tube" class="form-control" id="way10tube" type="text" aria-describedby="way10tubeHelp"
                    placeholder="Enter 10+1 way tube.">
            </div>
            <div class="form-group">
                <label for="Way12">12 Way Tube</label>
                <input value="{{way12tube}}" name="way12tube" class="form-control" id="way12tube" type="text" aria-describedby="way12tubeHelp"
                    placeholder="Enter 12 way tube.">
            </div>
            <div class="form-group">
                <label for="Way7">7 Way Tube</label>
                <input value="{{way7tube}}" name="way7tube" class="form-control" id="way7tube" type="text" aria-describedby="way7tubeHelp"
                    placeholder="Enter 7 way tube.">
            </div>
            <div class="form-group">
                <label for="Way4">4 Way Tube</label>
                <input value="{{way4tube}}" name="way4tube" class="form-control" id="way4tube" type="text" aria-describedby="way4tubeHelp"
                    placeholder="Enter 4 way tube.">
            </div>
            <div class="form-group">
                <label for="labelstreetNumber">Street Number</label>
                <input value="{{streetnumber}}" required name="streetnumber" class="form-control" id="streetnumber" type="text" aria-describedby="streetnumberHelp"
                    placeholder="Enter Street Number.">
            </div>
            <div class="form-group">
                <label for="labelstreetName">Street Name</label>
                <input value="{{streetname}}" required name="streetname" class="form-control" id="streetname" type="text" aria-describedby="streetnameHelp"
                    placeholder="Enter Street Name.">
            </div>
            <div class="form-group">
                <label for="inputStatus">Status</label>
                <select name="status" id="status" class="form-control">
                    <option value="Not tested">Not Tested</option>
                    <option value="Ok">Ok</option>
                    <option value="Faulty">Faulty</option>
                </select>
            </div>
            <div class="form-group">
                <label for="LabelRemarks">Remarks</label>
                <input value="{{remarks}}" name="remarks" class="form-control" id="remarks" type="text" aria-describedby="remarksHelp" placeholder="Enter Remarks">
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-sm-6 m-1">
                        <button type="submit" class="btn btn-primary btn-block">Save</button>
                    </div>
                    <div class="col-sm-6 m-1">
                        <a href="/admin/cpas" class="btn btn-secondary btn-block">Cancel</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>