<div class="row">
    <div class="col-sm-8">
        {{#if tasks}}
        <h2>Task List</h2>
        <div style="margin-bottom: 15px;">
            <a href="/admin/tasks/create" class="btn btn-success btn-sm">Create</a>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each tasks}}
                <tr>
                    <td>{{code}}</td>
                    <td>{{description}}</td>
                    <td>{{formatDate date 'DD/MM/YYYY'}}</td>
                    <td>
                        <a href="/admin/tasks/edit/{{id}}" class="btn btn-info btn-sm">Edit</a>
                    </td>
                    <td>
                        <form action="/admin/tasks/{{id}}?_method=DELETE" method="post">
                            <button class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </td>
                </tr>
                {{/each}}

            </tbody>
        </table>

        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">

            {{#paginate current=current pages=pages}}{{/paginate}}

        </ul>

        {{else}}

        <h1 class="my-4">You have no task!</h1>

        {{/if}}

    </div>
</div>