<div class="row">
    <div class="table-responsive-sm col-sm-8">
        <h2>User List</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Date</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                <tr>
                    <td>{{firstname}}</td>
                    <td>{{lastname}}</td>
                    <td>{{email}}</td>
                    <td>{{users.rolename}}</td>
                    <td>{{formatDate date 'DD/MM/YYYY'}}</td>
                    <td>
                        <a href="/admin/users/edit/{{id}}" class="btn btn-info btn-sm">Edit</a>
                    </td>
                    <td>
                        <form action="/admin/users/{{id}}?_method=DELETE" method="post">
                            <button class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>


</div>