<div class="card card-register mx-auto mt-5">
    <div class="card-header">Edit Plan</div>
    <div class="card-body">
        <form action="/admin/plans/edit/{{plan.id}}?_method=PUT" method="post">
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <label for="InputLno">LNO</label>
                        <input value="{{plan.lno}}" required name="lno" class="form-control" id="InputLno" type="text" aria-describedby="nameHelp"
                            placeholder="Enter lno">
                    </div>
                    <div class="col-md-6">
                        <label for="InputSheetNo">SheetNo</label>
                        <input value="{{plan.sheetno}}" required name="sheetno" class="form-control" id="InputSheetNo" type="text" aria-describedby="nameHelp"
                            placeholder="Enter Sheet No.">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="InputInstruction">Instruction</label>
                <input value="{{plan.instruction}}" required name="instruction" class="form-control" id="InputInstruction" type="text" aria-describedby="nameHelp"
                    placeholder="Enter Instruction">
            </div>

            <div class="form-group">
                <label for="inputLocation">Location</label>
                <select name="location" id="location" class="form-control">

                    {{#select plan.location}} {{#each locations}}
                    <option value="{{id}}">{{name}}</option>
                    {{/each}} {{/select}}

                </select>
            </div>
            <div class="form-group">
                <label for="InputCode">Code</label>
                <input value="{{plan.code}}" required name="code" class="form-control" id="InputCode" type="text" aria-describedby="nameHelp"
                    placeholder="Enter code">
            </div>
            <div class="form-group">
                <label for="streetno">Street #</label>
                <input value="{{plan.streetno}}" required name="streetno" class="form-control" id="streetno" type="text" aria-describedby="nameHelp"
                    placeholder="Enter Street #">
            </div>
            <div class="form-group">
                <label for="streetname">Street Name</label>
                <input value="{{plan.streetname}}" required name="streetname" class="form-control" id="streetname" type="text" aria-describedby="nameHelp"
                    placeholder="Enter Street Name">
            </div>



            <div class="form-group">
                <div class="form-row">
                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-primary btn-block">Save</button>
                    </div>
                    <div class="col-sm-6">
                        <a href="/admin/plans" class="btn btn-secondary btn-block">Cancel</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>