<div class="row">
    <div class="container">
        <div class="col-sm">
            {{#if plans}}

            <h2>Plan</h2>
            <div style="margin-bottom: 15px;">
                <a href="/admin/plans/create" class="btn btn-success btn-sm">Create</a>
            </div>
            <table class="table table-responsive table-hover">
                <thead>
                    <tr>
                        <th>LNO</th>
                        <th>Street #</th>
                        <th>Street Name</th>
                        <th>Location</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each plans}}
                    <tr>
                        <td>{{lno}}</td>
                        <td>{{streetno}}</td>
                        <td>{{streetname}}</td>
                        <td>{{location.name}}</td>
                        <td>
                            <a href="/admin/plans/edit/{{id}}" class="btn btn-info btn-sm">Edit</a>
                        </td>
                        <td>
                            <form action="/admin/plans/{{id}}?_method=DELETE" method="post">
                                <button class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {{/each}}

                </tbody>
            </table>

            <!-- Pagination -->
            <ul class="pagination justify-content-center mb-4">
                {{#paginate current=current pages=pages}}{{/paginate}}
            </ul>

            {{else}}

            <h1 class="my-4">You have no Plan!</h1>
            <div style="margin-bottom: 15px;">
                <a href="/admin/plans/create" class="btn btn-success btn-sm">Create</a>
            </div>

            {{/if}}

        </div>
    </div>
</div>